body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

header {
	max-width: 800px;
	margin: 30px auto 0;
	padding: 2rem;
	background-color: #dedede;
	border-radius:10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

	header .titleBox {
		position:relative;
		height:30px;
	}

	header #title {
		float:left;
		line-height:30px;
		font-size: 30px;
		font-weight: 500;
	}

#content {
	max-width: 800px;
	margin: 0 auto 30px;
	padding: 0 2rem 2rem 2rem;
	background-color: #dedede;
}

	#lookupForm {
		min-width: 650px;
		margin-bottom: 30px;
		border: 1px solid #e3e3e3;
		border-radius: 7px;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	}

		#symbolLookup {
			width: 300px;
			height: 23px;
			line-height: 23px;
			padding: 4px 6px;
			vertical-align: middle;
			background-color: #ffffff;
			border: 1px solid #cccccc;
			border-radius: 7px;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			transition: border linear 0.2s, box-shadow linear 0.2s;
			font-size: 18px;
			color: #555;
		}

		#symbolLookup::-webkit-input-placeholder {
			font-size: 12px;
		}

		#addSymbol, #updatePortfolio {
			line-height: 20px;
			text-align: center;
			vertical-align: middle;
			padding: 4px 12px;
			font-size: 14px;
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			background-color: #006dcc;
			background-image: linear-gradient(to bottom, #0088cc, #0044cc);
			background-repeat: repeat-x;
			border: 1px solid #cccccc;
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			border-radius: 7px;
			cursor: pointer;
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		}

	#stockListForm {
		min-width: 650px;
	}

		.stockItem {
			vertical-align:middle;
			line-height:40px;
			font-size:16px;
			font-weight:300;
		}

		.stockItem.focused {
			background-color: #f5f5f5;
			border-radius: 7px;
		}

		.stockItem .anum {
			text-align: right;
			width:80px;
		}

			.stockItem h2, .stockItem input, .stockItem div {
				display: inline-block;
				background-color:transparent;
				padding:0 10px;
				font-size: inherit;
				font-weight: inherit;
			}

			.stockItem .stockName {
				width:140px;
			}

			.stockItem .stockPrice {
			}

			.stockItem .stockChange {
				vertical-align:middle;
				height:25px;
				line-height:25px;
				border-radius: 4px;
				width:60px;
			}

			.stockItem .stockChange.gain {
				background-color:#60c933;
				color:#fff;
			}

			.stockItem .stockChange.loss {
				background-color:#e34d1b;
				color:#fff;
			}

			.stockItem .numShares {
				margin:0;
				border:0;
				font-family: inherit;
				font-weight: inherit;
			}

			.stockItem .numShares::-webkit-input-placeholder {
				font-size:12px;
			}

			/*.stockItem .stockValue {
			}*/

/* Used to style the jQuery tooptip */
.ui-tooltip {
	font-size: 9px;
}

